<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.disfruleg.backup-tidb</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/juanantoniomercadolara/.nvm/versions/node/v20.20.2/bin/node</string>
        <string>/Users/juanantoniomercadolara/Proyectos/disfruleg-bodega/scripts/backup-tidb.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/juanantoniomercadolara/Proyectos/disfruleg-bodega</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/juanantoniomercadolara/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/disfruleg_backup_tidb.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/disfruleg_backup_tidb.log</string>
</dict>
</plist>
